/* public/css/app.css */

body {
    background-color: #f8f9fa;
}

h1 {
    font-weight: 600;
    color: #343a40;
}

.card-title i {
    margin-right: 8px;
}

.navbar-brand,
.nav-link {
    font-weight: 500;
}

.card {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.nav-selected {

    border-bottom: solid 4px #0d6efd;
}

nav a {
    width: -webkit-fill-available;
    text-align: center;
}